@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

:root {
  --primary-color: #396e94;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;
  --heading-font: "Popins", sans-serif;
  --paragraph-font: "Roboto", sans-serif;
  --nav-bg-color: #396e94;
  --nav-link-color: #fff;
  --nav-hover-link-color: #aabd8c;
  --nav-hover-active-link-color: #444994;
  --nav-hover-bg-color: #381d2a;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

header {
  padding: 10px;
  background-color: var(--primary-color);
}

p {
  padding: 10px;
}

nav {
  background-color: var(--nav-bg-color);
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-bg-color);
}
nav a:active {
  color: var(--nav-hover-active-link-color);
  background-color: var(--nav-hover-bg-color);
}

footer {
  margin-top: 1rem;
  border-top: 1px solid rgb(0, 0, 0);
  text-align: center;
}
